// To migrate a schema based on an environment, run
//
//  NODE_ENV=development schema up
module.exports = {
  development: {
    mysql: { user: 'userdev', password: 'dev', database: 'dbdev' }
  },

  test: {
    mysql: { user: 'userdev', password: 'dev', database: 'dbdev' }
  },


  production: {
    mysql: { user: 'userdev', password: 'dev', database: 'dbdev' }
  }
};
